footer {
    opacity: 0.6;
    border-style: ridge;
}

nav {
    box-shadow: 10px 10px 20px #c0c3c9;
    opacity: 0.9;
}

.card {
    background-color: #c0c3c9;
    border-style: ridge;
    border-radius: 1rem;
    text-align: center;
}

#banner {
    position: fixed;
    padding: 1rem;
    margin: 1rem;
    box-sizing: border-box;
    border-style: ridge;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #2a0944;
}
