footer {
    opacity: 0.6;
    border-style: ridge;
    color: white;
}

.navbar {
    box-shadow: 10px 10px 20px #c0c3c9;
    opacity: 0.9;
}

#banner {
    position: fixed;
    padding: 1rem;
    margin: 1rem;
    box-sizing: border-box;
    border-style: ridge;
}

//pagination
.pagination {
    background-color: #2a0944;
    color: #c0c3c9;
}
.page-link {
    background-color: #2a0944;
    color: #c0c3c9;
}

.page-item.disabled .page-link {
    background-color: #2a0944;
    color: #c0c3c9;
}

.page-item.active .page-link {
    background-color: #c0c3c9;
    color: #2a0944;
}
